.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .product-card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

.product-img {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

    .product-img:hover {
        opacity: 0.8;
    }
