.card-wrapper {
    display: flex;
    flex-direction: column; /* Kartın dikey hizalanmasını sağlamak için */
    align-items: stretch;
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-image-wrapper {
    width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center; /* Resmi ortalamak için */
    align-items: center;
}

    .card-image-wrapper img {
        width: 100%;
        height: auto; /* Oranı koruyarak yeniden boyutlandırma */
        object-fit: cover; /* Resmin taşmasını önler */
    }

.card-body {
    flex-grow: 0; /* İçeriğin büyümemesini sağlar */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* İçerik düzenli dağılsın */
}
