@using PlastikMVC.Client.Models.Response.CategoryResponse
@model GetCategoryByIdResponse

@{
    ViewData["Title"] = "Kategori Düzenle";
}

@section head {
    <link href="~/css/category-update.css" rel="stylesheet" asp-append-version="true" />
}

    <h1 class="text-center my-4">Kategori Düzenle</h1>

    <div class="container">
        <form asp-action="Update" asp-controller="Category" asp-route-id="@Model.Id" method="post" class="border p-4 shadow-sm bg-light">
            <div class="form-group mb-3">
                <label for="Id" class="form-label">Kategori ID</label>
            <input type="text" id="Id" name="Id" class="form-control-plaintext" value="@Model.Id" readonly />
            </div>

            <div class="form-group mb-3">
                <label for="Name" class="form-label">Kategori Adı</label>
                <input type="text" id="Name" name="Name" class="form-control" placeholder="Kategori adı giriniz" required value="@Model.Name" />
            </div>

            <div class="form-group mb-3">
                <label for="Description" class="form-label">Açıklama</label>
                <textarea id="Description" name="Description" class="form-control" placeholder="Açıklama giriniz" required>@Model.Description</textarea>
            </div>


            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a asp-action="Index" class="btn btn-secondary">Geri</a>
            </div>
        </form>
    </div>
